body {
    background-color: #f5eee7;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
  }
  nav {
    padding-left: 7%;
    padding-right: 7%;
}
  .container {
    max-width: 960px;
    padding-left: 7%;
    padding-right: 7%;
    height: 100vh;
  }

  .row {
    margin-top: 25px;
  }

  /* Estilos para botones */
  .button {
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }

  .button:hover {
    background-color: darkorange;
  }

  .free-button {
    background: #1565c0;
    height: 52px;
    font-size: 15px;
    border-radius: 8px;
  }

  /* Estilos para formularios */
  .form-control {
    height: 50px;
    border: 2px solid #eee;
    border-radius: 6px;
    font-size: 14px;
    transition: border-color 0.3s ease;
  }

  .form-control:focus {
    border-color: #039be5;
  }

  /* Estilos para tarjetas */
  .card {
    border: none;
  }

  .card-header {
    padding: .5rem 1rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: none;
  }

  .card-text {
    font-size: 13px;
    margin-left: 6px;
  }

  .certificate-text {
    font-size: 12px;
  }

  .payment-card-body {
    flex: 1 1 auto;
    padding: 24px 1rem !important;
  }

  /* Estilos para otros elementos */
  .line {
    color: #bfbdbd;
  }

  /* Estilos específicos para botones */
  .bt1 {
    color: #fff;
  }

  .bt1:hover {
    background-color: #003366;
  }
  #precioGrande {
        font-size: 24px; /* Tamaño de fuente más grande */
        /* Otros estilos que desees aplicar */
    }
